.nav {
    display: flex;
    flex: 0 0 100%;
    float: none;
    height: 100px;
    background: #e98484;
    white-space: nowrap;
    overflow: hidden;
}

.nav form {
    display: flex;
    position: relative;
    float: none;
    top: 20px;
    width: 50%;
    height: 33px;
    margin: 0;
}

.nav-button {
    display: block;
    position: relative;
    float: none;
    height: 31px;
    margin: 0;
    border: none;
    background: rgb(247, 182, 182);
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 0 9px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    outline: none 0;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: none;
    height: 100%;
}

.nav-center {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    position: relative;
    float: none;
    width: auto;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.nav-search-wrapper {
    display: block;
    position: relative;
    float: none;
    top: 0;
    left: 0;
    height: 31px;
    width: 100%;
    padding: 0;
    border-radius: 10px 0 0 10px;
    background: #fff;
}
#nav-searchbar {
    min-width: 400px;
    margin: 0 20px;
}
#nav-search, #nav-search:focus {
    margin: 7px 0 0;
    width: 100%;
    height: 16px;
    padding: 0px 0px 0px 7px;
    border: 0px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    outline: none 0;
    box-shadow: none;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: none;
    height: 100%;
    margin: 0 20px;
}

.nav-right a {
    padding: 1rem;
}

input, select, textarea {
    transition: all .1s linear;
    line-height: 19px;
    color: #0F1111;
}

@media (max-width: 1200px) {
}
@media (max-width: 1000px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}